.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
bin/functionalTest/
bin/main/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store
/target/
/BEFTA Report for Smoke Tests/
/BEFTA Report for Functional Tests/
