---
version: '3'

services:
  ccd-case-document-am-api:
    build:
      context: .
    image: hmcts/ccd-case-document-am-api
    container_name: ccd-case-document-am-api
    environment:
    ports:
      - 4455:4455
