---
version: '3'

services:
  ccd-case-document-am-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmcts/ccd-case-document-am-api
    container_name: ccd-case-document-am-api
    environment:
      CASE_DOCUMENT_S2S_AUTHORISED_SERVICES: ccd_case_document_am_api,ccd_gw,xui_webapp
      REFORM_SERVICE_NAME: ccd-case-document-am-api
      REFORM_TEAM: ccd
      REFORM_ENVIRONMENT: local
      S2S_SECRET: "${S2S_SECRET}"
      IDAM_USER_URL: http://idam-api:5000
      IDAM_S2S_URL: http://service-auth-provider-api:8080
      #JAVA_TOOL_OPTIONS: -XX:InitialRAMPercentage=30.0 -XX:MaxRAMPercentage=65.0 -XX:MinRAMPercentage=30.0 -XX:+UseConcMarkSweepGC -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
    ports:
      - 4455:4455
      #- 5005:5005
    networks:
      - ccd-network

networks:
  ccd-network:
    external: true
