server:
  port: ${PORT:4455}

management:
  endpoint:
    health:
      show-details: "always"
      cache:
        time-to-live: 10s
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus
  health:
    probes:
      enabled: true

#If you use a database then uncomment below lines and update db properties accordingly
spring:
  application:
    name: CCD Case Document AM API
  servlet:
    multipart:
      maxFileSize: 4GB
      maxRequestSize: 4GB
      enabled: true
  jackson:
    default-property-inclusion: NON_NULL
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false
  main:
    allow-bean-definition-overriding: true
  cache:
    cache-names: userInfoCache
    caffeine:
      spec: expireAfterAccess=1800s
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${IDAM_OIDC_URL:http://localhost:5000}/o
        registration:
          oidc:
            client-id: internal
            client-secret: internal

idam:
  api:
    url: ${IDAM_API_URL:http://localhost:5000}
    # same for all environments - not used in mca but configured as idam mandates for token generation
    redirect_uri: https://manage-case-assignment/oauth2redirect
  s2s-auth:
    microservice: ccd_case_document_am_api
    totp_secret: ${CCD_DOCUMENT_API_IDAM_KEY:CNTOE7D2NX6XHBKT}
    url: ${S2S_URL:http://localhost:4502}
  s2s-authorised:
    services: ${CASE_DOCUMENT_S2S_AUTHORISED_SERVICES:ccd_case_document_am_api,ccd_gw,xui_webapp,ccd_data,bulk_scan_processor}
oidc:
  issuer: ${OIDC_ISSUER:http://fr-am:8080/openam/oauth2/hmcts}

testS2S:
  api:
    url: "/testS2SAuthorization"
integrationTest:
  api:
    url: "/"

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
  allow:
    headers:
      - authorization
      - serviceauthorization
      - user-roles
      - user-id
ccd:
  case-definition:
    host: ${DEFINITION_STORE_HOST:http://localhost:4451}

documentTTL: ${DOCUMENT_TTL:3600000}

documentStoreUrl: ${DOCUMENT_STORE_URL:http://localhost:4506}
caseDataStoreUrl: ${CCD_DATA_STORE_URL:http://localhost:4452}
swaggerUrl: ${CASE_DOCUMENT_SWAGGER_AM_URL:localhost:4455}
caseDocumentAmUrl: ${TEST_URL:http://localhost:4455}
