server:
  port: ${PORT:4455}

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'health'

#If you use a database then uncomment below lines and update db properties accordingly
spring:
  application:
    name: CCD Case Document AM API
  jackson:
    default-property-inclusion: NON_NULL
security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/actuator/**"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/search/**"
    - "/csrf"
    - "/error"
    - "/favicon.ico"
  ### Update list with service id of any service going to interact with casse document api
  authorisedServices: ${CASE_DOCUMENT_S2S_AUTHORISED_SERVICES:ccd_gw,xui_webapp}

  authorisedRoles:
    - caseworker
    - ccd-import

### dependency configuration
auth.provider.service.client.baseUrl: ${IDAM_S2S_URL:http://localhost:4502}
idam:
  s2s-auth:
    totp_secret: ${CCD_DOCUMENT_API_IDAM_KEY:CNTOE7D2NX6XHBKT}
    microservice: ccd_case_document_am_api  # test checkin only. else refert to - instead of _
    url: ${IDAM_S2S_URL:http://localhost:4502}

auth.idam.client.baseUrl: ${IDAM_USER_URL:http://localhost:4501}
testS2S:
  api:
    url: "/testS2SAuthorization"
integrationTest:
  api:
    url: "/"

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
  allow:
    headers:
      - authorization
      - serviceauthorization
      - user-roles
      - user-id
ccd:
  case-definition:
    host: ${DEFINITION_STORE_HOST:http://localhost:4451}

documentStoreUrl: ${DOCUMENT_STORE_URL:http://localhost:4506/documents}
caseDataStoreUrl: ${CASE_DATA_STORE_URL:http://localhost:4452}
swaggerUrl: ${CASE_DOCUMENT_AM_URL:localhost:4455}
