java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    DEFINITION_STORE_HOST: http://ccd-definition-store-api-pr-575.service.core-compute-preview.internal
    CCD_DATA_STORE_URL: http://ccd-data-store-api-pr-1400.service.core-compute-preview.internal
