java:
  image: 'hmctspublic.azurecr.io/ccd/case-document-am-api:latest'
  applicationPort: 4455
  ingressHost: ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: ccd
  keyVaults:
    ccd:
      secrets:
        - ccd-data-s2s-secret
        - AppInsightsInstrumentationKey
  environment:
    IDAM_S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_USER_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
